.button {
    transition: 0.5s;
    color: white;
    border: none;
}

.button__form {
    padding: 10px 15px;
    background-color: rgb(0, 115, 131);
}
.button__form:hover{
    transform: scale(1.1);
    background-color: rgba(0, 116, 131, 0.788);
}

.button__form:active{
    background-color: rgb(14, 104, 116);
    color: rgb(173, 173, 173);
}

.button--red {

    height: 30px;
    width: 30px;
    font-size: 17px;
    background-color: red;
}

.button--red:hover {
    background-color: rgba(255, 0, 0, 0.699);
}

.button--green {

    height: 30px;
    width: 30px;
    font-size: 17px;
    background-color: green;
}

.button--green:hover {
    background-color: rgba(0, 128, 0, 0.836);
}

