.list{
    margin: 0px;
    padding: 10px;
    border: 1px solid rgb(238, 237, 239);
}

.list__item{ 
    padding: 10px;
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    list-style-type: none;
    
    border-bottom: 1px solid rgb(238, 237, 239);
}

.list__position{
    justify-self: start;
    align-self: center;
    padding-left: 10px;
}

.list__item--done{
    text-decoration: line-through;
}