html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(238, 237, 239);
    margin: auto 20px;
    font-family: 'Montserrat', sans-serif;
}

.main {
    max-width: 1050px;
    margin: 0 auto;
}